<main>
    <div class="modification" [ngClass]="file ? 'active' : 'inactive'">
        <div>
            <button appButtonFlat (click)="makeDotsStyle()">Dots</button>
            <button>KEKW</button>
            <button>KEKW</button>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    
    <div class="intro flex-center" [ngClass]="file ? 'inactive' : 'active'">
        <p>Drop & Enjoy</p>
        <app-upload-picture (fileChange)="getFile($event)"></app-upload-picture>
    </div>

</main>
