<main>
    <div class="modification" [ngClass]="file ? 'active' : 'inactive'">
        <div class="buttons">
            <button 
            *ngFor="let buttonMode of buttons"
            appButtonFlat
            [active]="mode === buttonMode" 
            (click)="pickMode(buttonMode)" 
            [ngClass]="{'active': mode === buttonMode}"
            >{{buttonMode}}</button>

        </div>

        <div class="canvas-box">
            <canvas id="canvas"></canvas>
            <div class="options">
                <app-options>
                    <app-input-range [min]="1" [max]="20" [(inputModel)]="options.size" (change)="changeOptions()">
                        Size
                    </app-input-range> 
                    <app-input-range [min]="0" [max]="10" [(inputModel)]="options.spread" (change)="changeOptions()">
                        Spread
                    </app-input-range> 
                </app-options>
            </div>
            <button class="draw" (click)="draw()">Draw!</button>
        </div>

        
    </div>
    
    <div class="intro-text flex-center" [ngClass]="file ? 'inactive' : 'active'">
        <p>Drop & Enjoy</p>
    </div>
    <div class="upload flex-center" [ngClass]="file ? 'inactive' : 'active'">
        <app-upload-picture (fileChange)="getFile($event)"></app-upload-picture>
    </div>

</main>
