@import 'app/shared/styles/variables.scss';
@import 'app/shared/styles/mixins.scss';

$shadow-disposition: 10px;
main{
    @include max-fill;
    @include flex-center;
}

.intro{
    flex-direction: column;
    p{
        font-size: 11rem;
        margin: 20px 0;
        text-shadow: $shadow-disposition $shadow-disposition 0px $red;
        //filter: drop-shadow(16px 16px 0px $red);
        
        animation: text-animation 1.3s ease;
        font-family: 'Pacifico', cursive;
    }

    img{
        height: 2rem;
        filter: invert(100%);
        margin: 0.5rem;
    }

    .dropfile{
        height: 100px;
        width: 400px;
        background-color: $blue;
    }
}

@keyframes text-animation{
    0%{
        text-shadow: 0px 0px 0px $red;
    }
    100%{
        text-shadow: $shadow-disposition $shadow-disposition 0px $red;
    }
}


