@import 'app/shared/styles/variables.scss';
@import 'app/shared/styles/mixins.scss';

$shadow-disposition: 10px;
main{
    @include max-fill;
    @include flex-center;
    flex-direction: column;
}

.modification{
    height: 0;
    opacity: 0;
    transition: $transition-medium;
    &.active{
        height: auto;
        opacity: 1;
    }

    .buttons{
        button{
            margin: 0.3rem;
        }
    }

    .canvas-box{
        position: relative;
        .draw{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }


}

.intro-text{
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: $transition-medium;

    &.inactive{
        pointer-events: none;
        p{
            top: -20rem;
            opacity: 0;
            pointer-events: none;
        }
    }
    p{
        font-size: 10rem;
        margin: 20px 0;
        text-shadow: $shadow-disposition $shadow-disposition 0px $red;
        //filter: drop-shadow(16px 16px 0px $red);
        margin-bottom: 80px;
        animation: text-animation 1.3s ease;
        font-family: 'Pacifico', cursive;
    }
}

.upload{
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: $transition-medium;

    &.inactive{
        top: 90%;
    }
}

@keyframes text-animation{
    0%{
        text-shadow: 0px 0px 0px $red;
    }
    100%{
        text-shadow: $shadow-disposition $shadow-disposition 0px $red;
    }
}


